PORT=3000
ADMIN_PASSWORD=eazykonnect2026

# MikroTik Router (adresse IP du routeur sur le réseau local)
MIKROTIK_HOST=192.168.88.1
MIKROTIK_PORT=8728
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=

# IP du serveur sur le réseau local (pour la redirection captive portal)
SERVER_IP=192.168.88.10
